body {
    background-color: #161616;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p {
    font-family: Montserrat Alternates;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: white;
    opacity: 86%;
    margin-top: 100px;
    margin-bottom: 200px;
}

.navbar {
    padding: 25px 150px;
    background-color: #242424;
}

.navbar ul li a {
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.navbar-brand {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

h1 {
    margin-top: 250px;
    margin-bottom: 200px;
    font-weight: 600;
    font-size: 40px;
    line-height: 169.5%;
    /* or 68px */
    text-align: center;
    letter-spacing: 0.08em;
    color: #FF0000;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.sec {
    margin-top: 200px;
}

.bot{
    margin-bottom: 200px !important;
}


.bold-red {
    font-family: 'Montserrat';
    color: #FF0000;
    font-weight: 900;
}

.bold-white{
    font-family: 'Montserrat';
    color: white;
    font-weight: 900;
}

hr{
  
        height: 2px !important;
        width: 100px;
        background-color:  #FF0000;
        opacity: 100%;
    
        margin-top: 100px;
        margin-bottom: 100px;
}

footer{
    background-color: #242424;
    padding: 0 150px;
    min-height: 180px;
    margin-top: 200px;
}

.intro-wrapper{
    margin-bottom: 200px;
}


/* mobiles */

@media screen and (max-width: 600px) {
    html {
        overflow-x: scroll;
        /* max-width: 360px; */
    }
    .navbar {
        padding: 20px;
        background-color: transparent;
    }
    .navbar-brand {
        font-size: 1em;
    }
    .navbar-toggler {
        border-radius: 50px;
        padding: 10px;
        background-color: #242424;
        box-shadow: -10px 6px 0px rgba(0, 0, 0, 0.25);
    }
    h1, h2{
        font-size: 23px;
    }

    p{
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 100px;
        margin-top: 50px;
    }
}